<html>
  <body>
    <form action="/produtos" method="post">
      <div>
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" placeholder="coloque o titulo" />
      </div>
      <div>
        <label for="preco">Preço</label>
        <input type="text" name="preco" placeholder="coloque o preço" />
      </div>
      <div>
        <label for="descricao">Descrição</label>
        <textarea cols="20" rows="10" name="descricao" placeholder="coloque a descricao"></textarea>
      </div>
      <input type="submit" value="gravar" />
    </form>
  </body>
</html>